h1 {
	margin-left: 6%;

}

h3 {
	margin-left: 7%;
}


p {
	width: 66%;
	margin-left: 8%;
	font-size: 18px;
}

body{
	background-color: #e7e7de !important;
}
.xray {
	width: 100%;
	height: auto;
}

.imageContainer{
	width:40%;
	margin-left: 5%;
	margin-right: 5%;
	padding:0;
	float: left;
	position: relative;
}

.current-tab{
	background: #bbbbbb;
}
.navbar {
	background-color: #0f3057;
}
.navbar-default .navbar-nav>li>a{
	color: white;
	font-size: 15px;
	font-weight: bold;
}
.train-button {
	margin-right: 3%;
	float: right;
	border: none;
	border-radius: 5px;
	border-width: 1px;
	width: 7%;
	background-color: #f5d633;
	color: white;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 20px;
}

.train-button:hover {
	background-color: #333333;
	color: white;
}

.center {
	margin-left: auto;
	margin-right: auto;
	border: solid;
}

.progTable{
	border: solid;
}

.create-account {
	margin-left: 15%;
	border: none;
	background: none;
	text-decoration: underline;
}

.panel-default {
	border: none;
	box-shadow: none;
}

.account-info{
	border: none;
	margin-left: 10%;
}

.info-link{
	margin-left: 8%;
	color: inherit;
}

.info-link:hover {
	color: inherit;
	text-decoration: none;
}

.info-list {
	margin-left: 8%;
	font-size: 18px;
}

.card {
	width: 33%;
	top: 50%;
	margin-left:33%;

	background: #ffffff;
}
.card-body {
	background-color: #e7e7de !important;
}
.disclaimer-text{
	width: 100%;
	margin-left: 0px;


}

.disclaimer-title {
	width: 100%;
	margin-left: 0px;
	font-size: 36px;
	color: red;
}

.mita {
	font-size: 32px;
	font-family: serif;
	margin-right: 20%;
	color: white;
}

.mita:hover {
	color: white;
	text-decoration: none;
}

.mita-container {
	float: left;
	margin-right: 2%;
}

.home-container {
	width: 100%;
	display: inline-grid;
	grid-template-columns: 40% 40%;
	grid-column-gap: 10%;
	grid-row-gap: 20%;
}

.home-item {
	width: 100%;

}
.home-button {
	background-color: #f5d633;
	border: none;
	border-radius: 5px;
	width: 35%;
	font-size: 20px;
	margin-left: 8%;
	padding: 5px 0px 5px 0px;
	margin-top: 5%;
	white-space: normal;
	word-wrap: break-word;
	border-width: 1px;
	color: white;
}

.home-button:hover {
	background-color: #333333;
	color: white;
}

.home-content {
	width: 100%;
}

.btn-lg {
	width: 100%;
	color: white;
	border: none;
	border-radius: 5px;
	background-color: #f5d633;
}
.btn-lg:hover {
	background-color: #333333;
	color: white;
}

.btn-lg:disabled {
	color: #d9d9d9;
	background-color: #F5f5f5;
}
.btn-lg:disabled:hover {
	color: #d9d9d9;
	border-color: #d9d9d9;
	background-color: #F5f5f5;
}	
.login-submit {
	border-color: #333333;
	border: none;
	border-radius: 5px;
	border-width: 1px;
	background-color: #f5d633;
	color: white;
	font-size: 18px;
}

.login-submit:hover {
	background-color: #333333;
	color: white;
}
#next-button{
	visibility: hidden;
}

#prompt {
	margin-left: 6%;
	width:60%;
}

#passwordMatchMessage {
	color: red;
	font-size: 12px;
	margin-bottom: 4px;
	visibility: hidden;
}
