
.xray {
	width: 100%;
	height: auto;
}
.imageContainer{
	width:50%;
	margin:0;
	padding:0;
	float: left;
	position: relative;
}

h1 {
	margin-left: 6%;

}

h3 {
	margin-left: 6%;
}

p, ul, h3 {
	margin-left: 6%;
}

p {
	width: 66%;
	margin-left: 10%;
	font-size: 18px;
}

button {
	margin-right: 3%;
	float: right;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.create-account {
	margin-left: 20px;
	border: none;
	background: none;
	text-decoration: underline;
}

.panel-default {
	border: none;
	box-shadow: none;
}


