h1 {
	margin-left: 6%;

}

h3 {
	margin-left: 7%;
}



p {
	width: 66%;
	margin-left: 8%;
	font-size: 18px;
}

.xray {
	width: 100%;
	height: auto;
}

.imageContainer{
	width:40%;
	margin-left: 5%;
	margin-right: 5%;
	padding:0;
	float: left;
	position: relative;
}

.train-button {
	margin-right: 3%;
	float: right;
	border-color: black;
	border: solid;
	border-radius: 5px;
	width: 7%;
}

.center {
	margin-left: auto;
	margin-right: auto;
	border: solid;
}

.progTable{
	border: solid;
}

.create-account {
	margin-left: 15%;
	border: none;
	background: none;
	text-decoration: underline;
}

.panel-default {
	border: none;
	box-shadow: none;
}

.account-info{
	border: none;
	margin-left: 10%;
}

.info-link{
	margin-left: 8%;
}

.info-list {
	margin-left: 8%;
	font-size: 18px;
}

.card {
	width: 33%;
	top: 50%;
	margin-left:33%;
	text-align:center !important;
	background: #ffffff;
}

.disclaimer-text{
	width: 100%;
	margin-left: 0px;
	
	
}

.disclaimer-title {
	width: 100%;
	margin-left: 0px;
	font-size: 36px;
}

.mita {
	font-size: 32px; 
	font-family: serif; 
	margin-right: 20%;
	color: black;
}

.mita:hover {
	color: black;
	text-decoration: none;
}

.mita-container {
	float: left;
	margin-right: 2%;
}

.home-container {
	width: 100%;
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-column-gap: 20%;
	grid-row-gap: 5%;
}

.home-item {
	width: 75%;
	
}
.home-button {
	border-color: black;
	border: solid;
	border-radius: 5px;
	width: 75%;
	margin-left: 12.5%;
	padding: 10px 0px 10px 0px;
	float: center;
}

#next-button{
	visibility: hidden;
}

#prompt {
	margin-left: 6%;
	width:60%;
}

